{% extends "base.html" %}

{% block contenido_cambia %}
    <form action="{% url 'AppCoderCursos' %}" method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Crear">
    
    </form>
    <hr><br>
    <form action="{% url 'AppCoderBusquedaCurso' %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>
    <hr><br>



    
    {% if cursos %}
        {% for curso in cursos %}
            <p>curso: {{ curso.nombre }}</p>
            <p>camada: {{ curso.camada }}</p>
        {% endfor %}
    {% else %}
        <h2>no hay cursos registrados por el momento</h2>
    {% endif %}
    
{% endblock %}